* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
}

.text {
  top: 150px;
  position: absolute;
  align-items: center;
  color: red;
}